<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <% if(locals.trainers && locals.trainers.length > 0) { %> <%
    trainers.forEach(function(trainer) { %>
    <div class="trainerCard">
      <li><%= trainer.name %></li>
      <a href="/trainers/<%= trainer.name%>">Edit</a>
      <a href="/trainers/<%= trainer.name%>/delete">Delete</a>
    </div>
    <% }) %> <% } %>
    <h3>Add Trainer</h3>
    <form action="/trainers/add" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="pokemonName">Add Pokemon :</label>
      <select name="pokemonName" id="pokemonName" required>
        <% if(locals.pokemonOptions && locals.pokemonOptions.length > 0) { %> <%
        pokemonOptions.forEach(function(pokemon) { %>
        <option value="<%= pokemon.name %>"><%= pokemon.name %></option>
        <% }) %> <% } %>
      </select>
      <%- include("partials/errors.ejs") %>
      <button type="submit">Add</button>
    </form>

    <a href="/">Go back to home page</a>
  </body>
</html>
